VITE_FIREBASE_API_KEY=AIzaSyBO8Hh7yIou1SWGZO79AwQ8BF9v3pAT5Tw
VITE_FIREBASE_AUTH_DOMAIN=valtheerhackathon.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=valtheerhackathon
VITE_FIREBASE_STORAGE_BUCKET=valtheerhackathon.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=682814987672
VITE_FIREBASE_APP_ID=1:682814987672:web:c0baf9aef4b9ec48d3dfed 